<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resetowanie hasła</title>
</head>
<body>
    <h1>Resetowanie hasła</h1>
    <p>Podaj swój adres e-mail, a wyślemy Ci link do zresetowania hasła.</p>

    <form method="post">
        {% csrf_token %}
        {% if form.errors %}
            <div style="color: red;">
                Proszę poprawić poniższe błędy:
                <ul>
                    {% for field in form %}
                        {% if field.errors %}
                            {% for error in field.errors %}
                                <li>{{ field.label }}: {{ error }}</li>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        <p>
            {{ form.email.label_tag }} {{ form.email }}
        </p>
         <p>
            {{ form.captcha.label_tag }} {{ form.captcha }}
        </p>
        <button type="submit">Wyślij link resetujący</button>
    </form>

    <p><a href="{% url 'login' %}">Powrót do logowania</a></p>
</body>
</html>
